<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.lingyanzhou.mybatis_spring_learning.mapper.OutTableBatchMapper">

  <insert  id="insertInTable" parameterType="net.lingyanzhou.mybatis_spring_learning.dto.OutDto">
    INSERT INTO out_table VALUES(#{otId}, #{otData}, NOW(), #{otData2})
  </insert>

</mapper>
